$navFooterBgColor: #213555cc;
$clipBgColor: #21355597;
$mainTextColor:#213555 ;
$secondaryTextColor: #F0F0F0;
$textWhite: white;
$mainTextSize: 10%;
$secondaryTextSize: 5%;
$boldTextSize: 15px;
$boldTextSizeResp: 10px;
$placeholderTxtSize: 12px;
$txtHoverColor: #B4B4B3;
$font :  Arial, Helvetica, sans-serif;


body{
    width:100%;
}
#productCard{
    display : flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    width:95%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 50px;
}
.prodCard{
    width:20%;
    height:400px;
    font-family: $font;
    font-size: $boldTextSizeResp;
    border: 1px solid $navFooterBgColor;
    color: $mainTextColor;    
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // justify-items: center;
    padding-top: 40px;
}
.cardContents{
    display: flex;
    flex-direction: column;
}
p{
    max-width: 80%;
}
img{
    width:25%;
    height:95px;
    margin-bottom: 50px;
}
span{
    font-size: 12px;
    font-weight: bold;
}

.createForm{
    width: 90%;
    height: 500px;
    margin: 5%;
    border: 1px solid $navFooterBgColor;
    color: $mainTextColor;    
    border-radius: 50px;

}
#createFormInfo{
    width:80%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.formA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;
}
input[type=submit]{
    font-family: $font;
    background-color: $mainTextColor;
    color: $textWhite;
    border: 1px;
    border-radius: 30px;
    width: 100px;
    text-align: center;
    margin-bottom: 8%;
}
input[type=delete]{
    font-family: $font;
    background-color: $secondaryTextColor;
    color: $mainTextColor;
    border: 1px;
    border-radius: 35px;
    width: 100px;
    text-align: center;
}