$navFooterBgColor: #213555cc;
$clipBgColor: #21355597;
$mainTextColor:#213555 ;
$secondaryTextColor: #F0F0F0;
$textWhite: white;
$mainTextSize: 10%;
$secondaryTextSize: 5%;
$boldTextSize: 30px;
$boldTextSizeResp: 15px;
$placeholderTxtSize: 12px;
$txtHoverColor: #B4B4B3;
$font :  Arial, Helvetica, sans-serif;


body{
    width:100%;
}
#productCard{
    display : flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    width:95%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 100px;
}
.prodCard{
    width:25%;
    height:600px;
    font-family: $font;
    font-size: $boldTextSizeResp;
    border: 2px solid;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 40px;

}
img{
    width:30%;
    height:150px;
    margin-bottom: 50px;
}
span{
    font-size: 20px;
    font-weight: bold;
}
// p{
//     max-width: 35px;
// }
.createForm{
    border: 1px solid;
    width: 90%;
    height: 500px;
    margin: 5%;
}
#createFormInfo{
    width:80%;
    display: flex;
    flex-direction: column;
}
.formA{
    display: inline-block;
    // text-align: center;
    

}